apiVersion: v1
kind: Service
metadata:
  name: precision-psychiatry-api
  namespace: precision-psychiatry
  labels:
    app: api
spec:
  type: ClusterIP
  selector:
    app: api
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http